In [ ]:
### check in the correct python environment
import sys
print(sys.executable)

/opt/anaconda3/envs/churn_rf/bin/python

In [2]:
### import libraries
import numpy as np; np.set_printoptions(precision=2)
import pandas as pd; pd.options.display.float_format = "{:,.2f}".format
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from matplotlib import pyplot as plt

In [3]:
### load data
churn = pd.read_csv('/Users/weijiaying/Desktop/IMT574-Project/Churn_Modelling.csv')
churn.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,"101,348.88",1
1,2,15647311,Hill,608,Spain,Female,41,1,"83,807.86",1,0,1,"112,542.58",0
2,3,15619304,Onio,502,France,Female,42,8,"159,660.80",3,1,0,"113,931.57",1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,"93,826.63",0
4,5,15737888,Mitchell,850,Spain,Female,43,2,"125,510.82",1,1,1,"79,084.10",0

In [4]:

# drop any non-predictive features 
churn_X = churn.drop(columns=[
    "RowNumber", 
    "CustomerId", 
    "Surname", 
    "Exited"
])

churn_y = churn["Exited"]

In [5]:
# encode dummy variables 
churn_X = pd.get_dummies(
    churn_X,
    columns=["Geography", "Gender"],
    drop_first=True
)

In [6]:
# split data into train and validation sets
X_train, X_val, y_train, y_val = train_test_split(
    churn_X,
    churn_y,
    test_size=0.2,
    random_state=42
)

In [7]:
# train a random forest classifier
np.random.seed(574)
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rf_classifier.fit(X_train, y_train)

y_pred = rf_classifier.predict(X_val)

accuracy = accuracy_score(y_val, y_pred)
classification_rep = classification_report(y_val, y_pred)

In [8]:
print(f"Accuracy: {accuracy:.2f}")
print("\nClassification Report:\n", classification_rep)

Accuracy: 0.87

Classification Report:
               precision    recall  f1-score   support

           0       0.88      0.96      0.92      1607
           1       0.76      0.47      0.58       393

    accuracy                           0.87      2000
   macro avg       0.82      0.72      0.75      2000
weighted avg       0.86      0.87      0.85      2000

### reference
https://www.geeksforgeeks.org/machine-learning/random-forest-algorithm-in-machine-learning/